table,th,td,tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding:10px;
}

table{
    width: auto;
    border-style: ridge;
}
body{
    background-color: blanchedalmond;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

caption{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
    font-style: italic;
}
thead{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.example , .description{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: oblique;
    padding: 10px; 
}
.element {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
